/* * { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 } */

/* Type Selector */
/* Its Select All the paragraphs in html */
p {
  font-size: larger;
  color: royalblue;
}
/* Class Selector */
/* Its Selector Specific class w define it here */
.iam-class {
  background: aqua;
  color: black;
}

/* Id Selector */
/* Its Selects Specific id we define it here */
#iam-id {
  background: hotpink;
  color: black;
}

/* Groups Selector */
/* Its Select all the element at one place 
and apply same properties tht we select to b applied */

h1,
h2,
h3 {
  font-weight: lighter;
}

/* ==================== Descendant Selector ===================== */

/* Descendant Selector */
/* Targets descendants of an element */
li h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Child Selector */
/* Targets direct children of an element */

ol > li {
  background-color: aliceblue;
  list-style-type: decimal-leading-zero;
}

/* ==================== Pseudo Classes ===================== */

.hover-me:hover {
  background-color: black;
  transition: ease-in 0.3s;
  color: white;
}

/* First-Child */

li:nth-child(1) {
  background-color: rgb(192, 184, 184);
}
